[Unit]
Description=ATX Monitor
After=network.target

[Service]
ExecStart={{ path }} monitor
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
